<!DOCTYPE html>
<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
  <title>Reservaciondevuelo</title>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/dsnp-csadd.css">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&amp;display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="js/jquery.min.js"></script>
  
  <!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16751523481"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-16751523481'); </script> 

<!-- Event snippet for Purchase conversion page --> <script> gtag('event', 'conversion', { 'send_to': 'AW-16751523481/YUOBCJPU5uAZEJnt37M-', 'value': 1.0, 'currency': 'INR', 'transaction_id': '' }); </script> 

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16751523481"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-16751523481');
</script>


<!-- Event snippet for mobile conversion conversion page In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. --> <script> function gtag_report_conversion(url) {
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
  gtag('event', 'conversion', {
      'send_to': 'AW-16751523481/_fsQCOK18uAZEJnt37M-',
      'value': 1.0,
      'currency': 'INR',
      'event_callback': callback
  });
  return false;
}
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16657952456"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-16657952456');
</script>

<script>
  gtag('config', 'AW-16657952456/BJFiCPegsJoaEMjdkIc-', {
    'phone_conversion_number': '888-928-1369'
  });
</script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16751523481"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-16751523481');
</script>


<script>
  gtag('config', 'AW-16751523481/xw6MCIDC8eAZEJnt37M-', {
    'phone_conversion_number': '(888) 928-1369'
  });
</script>


<!-- Google tag (gtag.js) --> <script async src="https://www.googletagmanager.com/gtag/js?id=G-40R7XVTMVS"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-40R7XVTMVS'); </script>



</head>
<body>



<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="https://www.reservaciondevuelo.com"><img src="images/logo.png" class="logo"></a>
    </div>
	
	 <div class="callnow_mm">
        <a href="tel: (888) 441-8506">
        <div class="hdrtxt"><i class="fa fa-headphones "></i> Call </div>
        </a>
     </div>
	
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar_st">
        <li class="active"><a href="https://www.reservaciondevuelo.com"><strong>Home</strong></a></li>
        <li><a href="/about"><strong>About Us</strong></a></li>
        <li><a href="/us-flights"><Strong>Travel</Strong></a></li>
        <li><a href="/contact"><strong>Contact Us</strong></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <div class="tollfree">
          <a href="tel: (888) 441-8506"><span>Call 24/7 for our best deals</span><img src="images/phone01.png">  (888) 441-8506 </a>
        </div>
      </ul>
    </div>
  </div>
</nav>  

<div class="pagebanner">
  <h1>Privacy Policy</h1>
  <img src="images/privacybanner.jpg" class="img-responsive">
</div>  



<section class="abt_home2 pd50">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="about_sec2">
          <h4>Política de Privacidad</h4>

<p>En <strong>Reservacion Devuelo</strong>, accesible desde www.reservaciondevuelo.com, proteger la privacidad de nuestros visitantes es una de nuestras principales prioridades. Esta Política de Privacidad describe los tipos de información que recopilamos y registramos en <strong>Reservacion Devuelo</strong>, y cómo la utilizamos para garantizar una experiencia segura y transparente para todos los usuarios.</p>

<p>Si tienes alguna pregunta o necesitas información adicional sobre nuestra Política de Privacidad, no dudes en contactarnos por correo electrónico a <strong>booking@reservaciondevuelo.com</strong>.</p>

<h5>Archivos de Registro</h5>

<p><strong>Reservacion Devuelo</strong> sigue un procedimiento estándar de uso de archivos de registro. Estos archivos rastrean la actividad de los visitantes cuando acceden al sitio web. Al igual que la mayoría de los proveedores de alojamiento, esta información se recopila con fines analíticos y operativos. Los datos registrados incluyen direcciones IP, tipos de navegador, proveedor de servicios de internet (ISP), fecha y hora, páginas de referencia y salida, y actividad de clics. Esta información no está vinculada a datos personales identificables y se utiliza únicamente para analizar tendencias, administrar el sitio y obtener información demográfica.</p>

<h5>Publicidad y Políticas de Privacidad</h5>

<p>En esta sección puedes consultar las políticas de privacidad de cada uno de nuestros socios publicitarios asociados con <strong>Reservacion Devuelo</strong>.</p>

<p>Los anunciantes de terceros pueden utilizar tecnologías como cookies, JavaScript o balizas web en sus anuncios y enlaces que aparecen en <strong>Reservacion Devuelo</strong>. Estas tecnologías se envían directamente al navegador del usuario y recopilan automáticamente tu dirección IP. Sirven para medir la efectividad de las campañas publicitarias y personalizar el contenido publicitario que ves en internet.</p>

<p>Ten en cuenta que <strong>Reservacion Devuelo</strong> no tiene control sobre las cookies utilizadas por los anunciantes de terceros.</p>

<h5>Políticas de Privacidad de Terceros</h5>

<p>La Política de Privacidad de <strong>Reservacion Devuelo</strong> no se aplica a otros anunciantes ni a sitios web externos. Te recomendamos revisar las políticas de privacidad de las redes publicitarias de terceros para obtener información más detallada sobre sus prácticas y cómo darte de baja de ciertos servicios. Puedes encontrar estas políticas visitando sus sitios web oficiales.</p>

<p>También puedes optar por deshabilitar las cookies a través de la configuración de tu navegador. Para obtener más información sobre cómo gestionar cookies en navegadores específicos, consulta su documentación de ayuda o páginas de soporte oficiales.</p>

<h5>Información de Menores</h5>

<p>Nos tomamos muy en serio la protección de la privacidad infantil. <strong>Reservacion Devuelo</strong> anima a los padres y tutores a supervisar y participar en la actividad en línea de sus hijos.</p>

<p><strong>Reservacion Devuelo</strong> no recopila intencionadamente información personal identificable de niños menores de 13 años. Si crees que tu hijo ha proporcionado este tipo de información en nuestro sitio, contáctanos de inmediato y tomaremos las medidas necesarias para eliminar esos datos de nuestros registros.</p>

<h5>Política de Privacidad en Línea Únicamente</h5>

<p>Esta Política de Privacidad aplica exclusivamente a nuestras actividades en línea y es válida para todos los visitantes de nuestro sitio web en relación con la información que comparten y/o recopilan en <strong>Reservacion Devuelo</strong>. Esta política no se aplica a ninguna información recopilada fuera de línea o a través de otros canales fuera de este sitio web.</p>

<h5>Consentimiento</h5>

<p>Al utilizar nuestro sitio web, reconoces y aceptas nuestra Política de Privacidad y estás de acuerdo con nuestros Términos y Condiciones.</p>

        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="row">
      
      <div class="col-md-12">
        <div class="ftr_bx">
          <h4>Quick <span>Links</span></h4>
          <ul>
            
            <li><a href="/about"><i class="fa fa-angle-right"></i> About Us</a></li>
            <li><a href="/disclaimer"><i class="fa fa-angle-right"></i> Disclaimer</a></li>
            <li><a href="/privacy-policy"><i class="fa fa-angle-right"></i> Privacy Policy</a></li>
            <li><a href="/terms-conditions"><i class="fa fa-angle-right"></i> Terms & Conditions</a></li>
            <li class="dsnp-ex"><a href="/cancellation-refund"><i class="fa fa-angle-right"></i> Cancellation & Refund Policy</a></li>
            <li><a href="sitemap.xml"><i class="fa fa-angle-right"></i> Site Map</a></li>
          </ul>
        </div>
      </div>
      
      <div class="col-md-12">
        <div class="ftr_bx">
          <h4>Contact <span>Info</span></h4>
          <ul class="dsnp-uladm" style="margin-bottom: 10px;">
            <li class="dsnp-liadm"><a href="javascript:void(0);"><i class="fa fa-home"></i> 10140 Covington Cross Dr
Las Vegas, NV 89144, USA
 </a></li>
            <li><a href="tel: (888) 441-8506"><i class="fa fa-phone"></i>  (888) 441-8506 </a></li>
            <!-- <li><a href="https://www.reservaciondevuelo.com"><i class=" fa fa-desktop"></i> Reservaciondevuelo.com</a></li> -->
            <li>
              <a href="mailto:info@reservaciondevuelo.com" style="display: flex; align-items: center;">
                  <i class="fa fa-envelope" style="margin-right: 8px;"></i>
                  info@reservaciondevuelo.com
              </a>
          </li>
          </ul>
          <!--<img src="images/iata.png" alt="iata">
          <img src="images/logo-arc.png" alt="iata"> -->
        </div>
      </div>
      
      <div class="col-md-12">
        <div class="ftr_bx">
          <h4>Disclaimer </h4>
          <p>Reservaciondevuelo is an independent travel booking portal in the U.S., not affiliated with any airline or company. We are not responsible for any loss or damage resulting from use of this website.</p>
        </div>
      </div>
      
    </div>
	
  </div>  
</footer>
<div class="icon_St">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <!--<li><img src="icon/01.png"></li>
          <li><img src="icon/02.png"></li>
          <li><img src="icon/03.png"></li>
          <li><img src="icon/04.png"></li> -->
          <li><img src="icon/05.png"></li>
          <li><img src="icon/06.png"></li>
          <li><img src="icon/07.png"></li>
          <li><img src="icon/08.png"></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="footer_btm">Copyright © 2024 reservaciondevuelo.com is a unit of Reservaciondevuelo LLC. All Rights Reserved</div>






</html>

	
	<script>
	//IIFE
(function () {
  "use strict";

  var canvas, ctx;
  var points = [];
  var maxDist = 100;

  function init() {
    //Add on load scripts
    canvas = document.getElementById("canvas");
    ctx = canvas.getContext("2d");
    resizeCanvas();
    generatePoints(700);
    pointFun();
    setInterval(pointFun, 25);
    window.addEventListener("resize", resizeCanvas, false);
  }
  //Particle constructor
  function point() {
    this.x = Math.random() * (canvas.width + maxDist) - maxDist / 2;
    this.y = Math.random() * (canvas.height + maxDist) - maxDist / 2;
    this.z = Math.random() * 0.5 + 0.5;
    this.vx = (Math.random() * 2 - 0.5) * this.z;
    this.vy = (Math.random() * 1.5 + 1.5) * this.z;
    this.fill = "rgba(255,255,255," + (0.5 * Math.random() + 0.5) + ")";
    this.dia = (Math.random() * 2.5 + 1.5) * this.z;
    points.push(this);
  }
  //Point generator
  function generatePoints(amount) {
    var temp;
    for (var i = 0; i < amount; i++) {
      temp = new point();
    }
    console.log(points);
  }
  //Point drawer
  function draw(obj) {
    ctx.beginPath();
    ctx.strokeStyle = "transparent";
    ctx.fillStyle = obj.fill;
    ctx.arc(obj.x, obj.y, obj.dia, 0, 2 * Math.PI);
    ctx.closePath();
    ctx.stroke();
    ctx.fill();
  }
  //Updates point position values
  function update(obj) {
    obj.x += obj.vx;
    obj.y += obj.vy;
    if (obj.x > canvas.width + maxDist / 2) {
      obj.x = -(maxDist / 2);
    } else if (obj.xpos < -(maxDist / 2)) {
      obj.x = canvas.width + maxDist / 2;
    }
    if (obj.y > canvas.height + maxDist / 2) {
      obj.y = -(maxDist / 2);
    } else if (obj.y < -(maxDist / 2)) {
      obj.y = canvas.height + maxDist / 2;
    }
  }
  //
  function pointFun() {
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    for (var i = 0; i < points.length; i++) {
      draw(points[i]);
      update(points[i]);
    }
  }

  function resizeCanvas() {
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
    pointFun();
  }

  //Execute when DOM has loaded
  document.addEventListener("DOMContentLoaded", init, false);
})();

	</script>	
